<ion-content [fullscreen]="true">
<ion-grid class="ion-align-items-center bg-load" style="height: 100%;">
  <ion-row>
    <ion-col size="12" class="ion-text-center">
      <ion-img src="assets/images/logo.png" class="loading-image"></ion-img>
  </ion-col>
</ion-row>
</ion-grid>
</ion-content>
<ion-footer >
    <ion-grid>
      <ion-row>
        <ion-col size="12" class="ion-text-center">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" class="ion-text-center">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6" class="ion-text-center">
          <ion-button expand="block" fill="outline" color="primary">
            <ion-icon name="log-in-outline"></ion-icon>
            <ion-label>Ingresar</ion-label>
          </ion-button>
          </ion-col>
          <ion-col>
            <ion-button expand="block" fill="outline" color="primary">
              <ion-icon name="person-add-outline"></ion-icon>
              <ion-label>Registrarse</ion-label>
            </ion-button>
          </ion-col>x
      </ion-row>
      <ion-row>
        <ion-col size="12" class="ion-text-center">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" class="ion-text-center">
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-footer>
